/**----------------------------------------
START: Theme Default CSS
----------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /**
     @Font-Family Declaration
   */
  --sds-ff-body: 'Inter', sans-serif;
  --sds-ff-heading: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
  Typography CSS
*/
body {
  font-size: 15px;
  font-family: var(--sds-ff-body);
  color: #000000;
  font-weight: normal;
  word-break: break-word;
  line-height: 22px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sds-ff-heading);
  color: #000000;
  margin-top: 0;
  font-weight: 600;
  line-height: 1.2;
  transition: all 0.3s ease-in-out 0s;
}

h1 {
  font-size: 40px;
  line-height: 48px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 25px;
    line-height: 34px;
  }
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  display: block;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a,
h6:hover a {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}

a,
.btn,
button,
span,
p,
input,
select,
textarea,
li,
img,
svg path,
*::after,
*::before,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

a,
button {
  color: inherit;
  outline: none;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

button:focus,
button:focus:not(:focus-visible) {
  outline: 0;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

select,
.nice-select,
input:not([type=submit]):not([type=radio]):not([type=checkbox]),
textarea {
  outline: none;
  height: auto;
  width: 100%;
  color: #000000;
  border: none;
}

input[type=color] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  padding: 0;
  border-radius: 50%;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--sds-color-theme-primary);
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

*::-moz-selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}

::-moz-selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}

*::-webkit-input-placeholder {
  color: #000000;
  font-size: var(--sds-fs-body);
  opacity: 1;
}

*::-moz-placeholder {
  color: #000000;
  font-size: var(--sds-fs-body);
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #000000;
  font-size: var(--sds-fs-body);
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #000000;
  font-size: var(--sds-fs-body);
  opacity: 1;
}

*::placeholder {
  color: #ffffff;
  font-size: var(--sds-fs-body);
  opacity: 1;
}

/**
 	Common Classes CSS
*/
img {
  max-width: 100%;
}

.w-img img {
  width: 100%;
}

.m-img img {
  max-width: 100%;
}

.fix {
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-width {
  max-width: 1220px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Button CSS */
.cart-btn {
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  background: #121212;
  width: 135px;
  height: 42px;
  padding: 13px 35px;
  max-width: 135px;
  line-height: 1;
}

.cart-btn:hover {
  background-color: #ff1a1a66;
}

.cart-btn .btn-loading {
  width: 15px;
  height: 15px;
  border: 2px solid #ffffff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
  display: none;
}

.cart-btn .btn-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-btn.loading .btn-text {
  display: none;
}

.cart-btn.loading .btn-loading {
  display: inline-block;
}

.bundle-add-btn {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  font-family: var(--sds-ff-heading);
  background: #121212;
  padding: 16px 25px;
  text-align: center;
  line-height: 1;
}

.bundle-add-btn:hover {
  color: #ffffff;
}

.bundle-add-btn:focus {
  color: #ffffff;
}

.edit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
  width: 100%;
  color: #121212;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
}

.buy-now-btn {
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  background: #FB9274;
  padding: 17px 95px;
  line-height: 1;
}

.buy-now-btn:hover {
  color: #ffffff;
  background-color: #121212;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 575px) {
  .bundle-add-btn {
    padding: 13px 20px;
  }
}

/**----------------------------------------
START: Header CSS
----------------------------------------*/

.header-skincare-essentials-area {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px 0px #00000012;
  padding: 23px 0;
  transition: all 0.3s ease-in-out;
  z-index: 98;
}

.header-skincare-essentials-menu-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 1420px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.site-logo {
  display: inline-flex;
  max-width: 95px;
  width: 100%;
}

.site-logo a {
  display: inline-flex;
}

.site-logo a img {
  width: 100%;
}

.nav-menu-area ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 22px;
}

.nav-menu-area ul li a {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 14px;
  color: #121212;
  letter-spacing: 0.55px;
  word-break: break-word;
}

.nav-menu-area ul li a:hover {
  font-weight: 700;
}

.header-social {
  display: flex;
  column-gap: 22px;
}

.header-social ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 24px;
}

.header-social ul li a {
  position: relative;
  display: inline-flex;
}

.header-social ul li a span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  color: #ffffff;
  font-size: 12px;
  background: #000000;
  border-radius: 50%;
  position: absolute;
  bottom: -6px;
  right: -6px;
}

@media (max-width: 575px) {
  .nav-menu-area {
    display: none;
  }
}

/* !END: Header CSS *

/**----------------------------------------
START: Skincare Essentials CSS
----------------------------------------*/
.skincare-essentials-bundle-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 32px;
  row-gap: 15px;
  border: 1px solid rgba(18, 18, 18, 0.1);
  box-shadow: 0px 1px 8px 0px #00000012;
  padding: 20px 20px;
  margin-top: 38px;
}

.skincare-essentials-bundle-header .skincare-essentials-bundle-images {
  display: flex;
  max-width: 130px;
  width: 100%;
}

.skincare-essentials-bundle-header .skincare-essentials-bundle-images img {
  width: 100%;
}

.skincare-essentials-bundle-menu {
  display: flex;
  align-items: center;
  column-gap: 47px;
  margin-top: 21px;
}

.skincare-essentials-bundle-menu li {
  width: 100%;
}

.skincare-essentials-bundle-menu li .tab-button {
  display: flex;
  flex-direction: column;
}

.skincare-essentials-bundle-menu li .tab-button .btn-line {
  position: relative;
  display: inline-block;
  height: 1.5px;
  width: 100%;
  background: #1212121a;
}

.skincare-essentials-bundle-menu li .tab-button .btn-line::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 1.5px;
  right: 0;
  top: -2px;
  background: #1212121a;
  transform: rotate(40deg);
}

.skincare-essentials-bundle-menu li .tab-button .btn-line::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 1.5px;
  right: 0;
  bottom: -2px;
  background: #1212121a;
  transform: rotate(-40deg);
}

.skincare-essentials-bundle-menu li .tab-button.active .btn-line::after,
.skincare-essentials-bundle-menu li .tab-button.active .btn-line::before,
.skincare-essentials-bundle-menu li .tab-button.active .btn-line {
  background: #121212;
}

.skincare-essentials-bundle-menu li .tab-button .step-title {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 7px;
  line-height: 22px;
}

.skincare-essentials-bundle-menu li .tab-button .step-subtitle {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 20px;
}

.skincare-essentials-bundle-main-wrapper .skincare-essentials-bundle-main-wrap {
  display: none;
}

.skincare-essentials-bundle-main-wrapper div.active {
  display: block;
}

.skincare-essentials-bundle-main-wrapper .skincare-essentials-bundle-table-main {
  padding-top: 22px;
  padding-bottom: 150px;
}

.skincare-essentials-bundle-table-main table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.skincare-essentials-bundle-table-main table tbody {
  border: 1px solid #1212121a;
  box-shadow: 0px 1px 8px 0px #00000012;
}

.skincare-essentials-bundle-table-main table tbody th {
  font-size: 15px;
  color: #121212b3;
  font-weight: 400;
  text-align: left;
  line-height: 22px;
  vertical-align: middle;
  padding: 18px 18px;
}

.skincare-essentials-bundle-table-main table tbody tr {
  border-bottom: 1px solid #1212121a;
}

.skincare-essentials-bundle-table-main table tbody tr:last-child {
  border-bottom: none;
}

.skincare-essentials-bundle-table-main table tbody tr td {
  font-size: 15px;
  vertical-align: middle;
  padding: 18px 20px;
  line-height: 22px;
}

.skincare-essentials-bundle-table-main table tbody tr td .table-title:hover {
  color: #ff1a1a66;
}

.skincare-essentials-bundle-table-main table tbody th:nth-child(1),
.skincare-essentials-bundle-table-main table tbody tr td:nth-child(1) {
  width: 162px;
}

.skincare-essentials-bundle-table-main table tbody th:nth-child(2),
.skincare-essentials-bundle-table-main table tbody tr td:nth-child(2) {
  width: 318px;
  text-align: left;
}

.skincare-essentials-bundle-table-main table tbody th:nth-child(3),
.skincare-essentials-bundle-table-main table tbody tr td:nth-child(3) {
  width: 165px;
}

.skincare-essentials-bundle-table-main table tbody th:nth-child(4),
.skincare-essentials-bundle-table-main table tbody tr td:nth-child(4) {
  width: 190px;
}

.skincare-essentials-bundle-table-main table tbody th:nth-child(5),
.skincare-essentials-bundle-table-main table tbody tr td:nth-child(5) {
  width: 150px;
  padding: 18px 40px 18px 20px;
}

.skincare-essentials-bundle-table-main table tbody tr td .table-images {
  max-width: 68px;
  width: 100%;
}

.skincare-essentials-bundle-table-main table tbody tr td .table-images a {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.skincare-essentials-bundle-table-main table tbody tr td .table-images a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  z-index: 3;
}

.skincare-essentials-bundle-table-main table tbody tr:hover td .table-images a:before {
  opacity: 1;
  visibility: visible;
}

.skincare-essentials-bundle-table-main table tbody tr td .table-images a .hover-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 3;
}

.skincare-essentials-bundle-table-main table tbody tr:hover td .table-images a .hover-link {
  transform: translate(-50%, -50%) scale(1);
}

.skincare-essentials-bundle-table-main table tbody tr td .table-images a img {
  width: 100%;
}

.skincare-essentials-bundle-table-main table tbody tr td .table-images a .second-images {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.05);
  will-change: transform;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.skincare-essentials-bundle-table-main table tbody tr:hover td .table-images a .second-images {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.bundle-table-cart-wrap {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 13px;
}

.bundle-table-cart-wrap .bundle-table-counter {
  display: inline-flex;
  align-items: center;
  border: 1px solid rgba(18, 18, 18, 0.1);
  overflow: hidden;
}

.bundle-table-cart-wrap .bundle-table-counter button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 40px;
  width: 34px;
  border: none;
  cursor: pointer;
}

.bundle-table-cart-wrap .bundle-table-counter button:first-child {
  border-right: 1px solid rgba(18, 18, 18, 0.1);
}

.bundle-table-cart-wrap .bundle-table-counter button:last-child {
  border-left: 1px solid rgba(18, 18, 18, 0.1);
}

.bundle-table-cart-wrap .bundle-table-counter .count {
  display: inline-block;
  min-width: 50px;
  height: 100%;
  text-align: center;
  font-size: 16px;
}

.skincare-essentials-bundle-table-main table:nth-child(1) {
  animation: anim-1 0.5s ease-in-out 0s;
}

.skincare-essentials-bundle-table-main table:nth-child(2) {
  animation: anim-2 0.5s ease-in-out 0s;
}

.skincare-essentials-bundle-table-main table:nth-child(3) {
  animation: anim-3 0.5s ease-in-out 0s;
}

.skincare-essentials-bundle-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 104px;
  column-gap: 25px;
  row-gap: 15px;
  background: #ffffff;
  box-shadow: 0px -4px 14px 0px #8484840F;
  padding: 17px 40px;
  z-index: 3;
}

.skincare-essentials-bundle-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.skincare-essentials-bundle-item .bundle-item {
  display: flex;
  position: relative;
}

.skincare-essentials-bundle-item .bundle-item img {
  width: 100%;
}

.skincare-essentials-bundle-item .bundle-item .close-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -9px;
  top: -9px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ff1a1a;
  transform: scale(0);
}

.skincare-essentials-bundle-item .bundle-item:hover .close-icon {
  transform: scale(1);
}

.skincare-essentials-bundle-infos {
  display: flex;
  align-items: center;
}

.skincare-essentials-bundle-infos .bundle-add-price {
  padding-right: 29px;
  border-right: 1px solid #303030;
}

.skincare-essentials-bundle-infos .bundle-add-price .select-price {
  display: block;
  color: #303030;
  font-family: var(--sds-ff-heading);
  margin-bottom: 8px;
  line-height: 1;
}

.skincare-essentials-bundle-infos .bundle-add-price .total-price {
  display: block;
  color: #121212;
  font-family: var(--sds-ff-heading);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.skincare-essentials-bundle-infos .bundle-add-button {
  display: flex;
  align-items: center;
  column-gap: 6px;
  margin-left: 38px;
}

.skincare-essentials-bundle-preview-wrapper {
  padding-top: 54px;
  padding-bottom: 106px;
}

.skincare-essentials-bundle-preview-wrapper .skincare-essentials-bundle-preview-header {
  text-align: center;
}

.skincare-essentials-bundle-preview-wrapper .skincare-essentials-bundle-preview-header .bundle-demo-subtitle {
  display: block;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--sds-ff-heading);
  margin-bottom: 10px;
  line-height: 24px;
}

.skincare-essentials-bundle-preview-wrapper .skincare-essentials-bundle-preview-header .bundle-steps-subtitle {
  display: block;
  font-size: 16px;
  margin-top: 31px;
  margin-bottom: 15px;
  line-height: 24px;
}

.skincare-essentials-bundle-preview-wrapper .skincare-essentials-bundle-preview-header .bundle-steps-title {
  font-weight: 700;
  line-height: 28px;
}

.skincare-essentials-preview-item-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 40px;
  margin-top: 28px;
}

.skincare-essentials-preview-item {
  text-align: center;
}

.skincare-essentials-preview-item .skincare-essentials-preview-images {
  margin-bottom: 18px;
}

.skincare-essentials-preview-item .skincare-essentials-preview-images a {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.skincare-essentials-preview-item .skincare-essentials-preview-images a img {
  width: 100%;
}

.skincare-essentials-preview-item .skincare-essentials-preview-images a .second-images {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.05);
  will-change: transform;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.skincare-essentials-preview-item:hover .skincare-essentials-preview-images a .second-images {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.skincare-essentials-preview-item .skincare-essentials-preview-text .skincare-essentials-preview-title {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.skincare-essentials-preview-item .skincare-essentials-preview-text .skincare-essentials-preview-title a:hover {
  color: #ff1a1a66;
}

.skincare-essentials-preview-item .skincare-essentials-preview-text .skincare-essentials-preview-price {
  display: block;
  font-weight: 700;
  font-size: 16px;
  margin-top: 10px;
  line-height: 20px;
}

.skincare-essentials-preview-item .skincare-essentials-preview-text .edit-btn {
  margin-top: 22px;
}

.total-preview-price {
  margin-top: 50px;
  text-align: center;
}

.total-preview-price .total-item {
  display: block;
  color: #303030;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 14px;
  line-height: 24px;
}

.total-preview-price .total-price {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  color: #121212;
  font-weight: 700;
  font-size: 24px;
  font-family: var(--sds-ff-heading);
  line-height: 24px;
}

.total-preview-price .total-price .discount {
  display: inline-block;
  position: relative;
  font-weight: 400;
}

.total-preview-price .total-price .discount::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #121212;
}

.total-preview-price .total-price .save {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background: #27A553;
  padding: 7px 6px;
  line-height: 1;
}

.total-preview-price .buy-now-btn {
  margin-top: 25px;
}

@media (max-width: 1199px) {

  .skincare-essentials-bundle-table-main table tbody th:nth-child(1),
  .skincare-essentials-bundle-table-main table tbody tr td:nth-child(1) {
    width: 115px;
  }

  .skincare-essentials-bundle-table-main table tbody th:nth-child(2),
  .skincare-essentials-bundle-table-main table tbody tr td:nth-child(2) {
    width: 225px;
  }

  .skincare-essentials-bundle-table-main table tbody th:nth-child(3),
  .skincare-essentials-bundle-table-main table tbody tr td:nth-child(3) {
    width: 130px;
  }

  .skincare-essentials-bundle-table-main table tbody th:nth-child(4),
  .skincare-essentials-bundle-table-main table tbody tr td:nth-child(4) {
    width: 120px;
  }

  .skincare-essentials-bundle-table-main table tbody th:nth-child(5),
  .skincare-essentials-bundle-table-main table tbody tr td:nth-child(5) {
    padding: 18px 20px 18px 20px;
  }
}

@media (max-width: 991px) {
  .skincare-essentials-bundle-table-main table {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: inherit;
    white-space: nowrap;
    scrollbar-color: rgba(18, 18, 18, 0.5) rgba(18, 18, 18, 0.5);
    scrollbar-width: thin;
    padding-bottom: 4px;
  }

  .skincare-essentials-bundle-menu {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: inherit;
    white-space: nowrap;
    scrollbar-color: rgba(18, 18, 18, 0.5) rgba(18, 18, 18, 0.5);
    scrollbar-width: thin;
    padding-bottom: 8px;
  }

  .skincare-essentials-bundle-table-main table tbody tr td {
    padding: 15px 10px;
  }

  .skincare-essentials-bundle-table-main table tbody th:nth-child(5),
  .skincare-essentials-bundle-table-main table tbody tr td:nth-child(5) {
    padding: 15px 10px;
  }

  .skincare-essentials-bundle-infos .bundle-add-price {
    padding-right: 15px;
  }

  .skincare-essentials-bundle-infos .bundle-add-button {
    margin-left: 24px;
  }
}

@media (max-width: 767px) {
  .skincare-essentials-bundle-preview-wrapper {
    padding-bottom: 54px;
  }

  .skincare-essentials-preview-item-wrap {
    grid-template-columns: repeat(3, 1fr);
  }

  .skincare-essentials-bundle-preview-wrapper .skincare-essentials-bundle-preview-header .bundle-steps-subtitle {
    margin-top: 20px;
  }

  .total-preview-price {
    margin-top: 40px;
  }

  .skincare-essentials-bundle-header {
    justify-content: center;
    text-align: center;
  }

  .skincare-essentials-bundle-bottom {
    flex-direction: column;
    height: 165px;
    padding: 17px 20px;
  }

  .skincare-essentials-bundle-main-wrapper .skincare-essentials-bundle-table-main {
    padding-bottom: 220px;
  }
}

@media (max-width: 575px) {
  .skincare-essentials-preview-item-wrap {
    grid-template-columns: repeat(2, 1fr);
  }

  .skincare-essentials-bundle-infos .bundle-add-button {
    margin-left: 10px;
  }

  .skincare-essentials-bundle-infos .bundle-add-price {
    padding-right: 10px;
  }

  .total-preview-price .total-price {
    font-size: 20px;
  }
}

/* products Keyframes CSS */
@keyframes anim-1 {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes anim-2 {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes anim-3 {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* !END: Skincare Essentials CSS *